body{
    margin-top: 50px;
}

.title{
    background-color: powderblue;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0 20px 0 20px;
}

.col-3{
    text-align: left;
    padding: 20px;
}

.foreCol{
    background-color: mediumspringgreen;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#forecastTitle{
    padding: 10px;
}

.prevCities{
    background-color:cornflowerblue;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 85%;
    height: 50px;
    border: none;
    text-transform: capitalize;
}

.col-9{
    text-align: left;
    padding: 20px;
}

#current{
    background-color: lightcyan;
    padding:20px ;
    margin: 10px;
    
}

#searchBtn{
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
}

input{
    width: 90%;
    border-radius: 5px;
    height: 35px;
    padding-left: 10px;
    margin-top: 10px;
}

#searchHist{
    text-align: left;
}

#searchCity{
    text-align: left;
    padding-left: 10px;
    padding-top: 20px;
}